In [3]:
import pandas as pd
import numpy as np
import warnings
import glob
import re
import time
from Reports.fast_reports import FastReports
from shutil import copyfile

start = time.time()

warnings.filterwarnings('ignore')

fr = FastReports()

filepath_ = r"C:\Users\016434613\Downloads\progress_dt_tasks_details_report.xlsx"

df = pd.read_excel(filepath_,sheet_name="Tasks")
df = df.rename(columns={'ROBOT NUMBER':'ROBOT_NUMBER'})

df_lindo = df.loc[:,['ORIGIN RELEASE','STATUS','ROBOT_NUMBER','TITLE','UPLOAD DATA SYSTEMS','LOCATIONS OF MANUAL EXECUTION',
                     'MANUAL EXECUTION DURATION (hours per year)','CURRENT VERSION ID','DSL/SUPERVISOR (NAME)','PROCESSES']]
df_lindo = df_lindo.rename(columns={'MANUAL EXECUTION DURATION (hours per year)':'SAVING HS',
                                    'CURRENT VERSION ID':'VERSION ID','DSL/SUPERVISOR (NAME)':'DSL','LOCATIONS OF MANUAL EXECUTION':'LOCATIONS'})

df4 = df_lindo
df4['ORIGIN RELEASE'] = df4['ORIGIN RELEASE'].apply(lambda x: str(x))
df4['QUARTER'] = df4['ORIGIN RELEASE'].apply(lambda x: x[0:4]+x[5:7])
df4['YEAR'] = df4['ORIGIN RELEASE'].apply(lambda x: x[0:4])

df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '1Q' if x == '202003' else '1Q' if x == '202002' else '1Q' if x == '202001' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '2Q' if x == '202006' else '2Q' if x == '202005' else '2Q' if x == '202004' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '3Q' if x == '202009' else '3Q' if x == '202008' else '3Q' if x == '202007' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '4Q' if x == '202012' else '4Q' if x == '202011' else '4Q' if x == '202010' else x)

df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '1Q' if x == '202103' else '1Q' if x == '202102' else '1Q' if x == '202101' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '2Q' if x == '202106' else '2Q' if x == '202105' else '2Q' if x == '202104' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '3Q' if x == '202109' else '3Q' if x == '202108' else '3Q' if x == '202107' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '4Q' if x == '202112' else '4Q' if x == '202111' else '4Q' if x == '202110' else x)

df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '1Q' if x == '202203' else '1Q' if x == '202202' else '1Q' if x == '202201' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '2Q' if x == '202206' else '2Q' if x == '202205' else '2Q' if x == '202204' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '3Q' if x == '202209' else '3Q' if x == '202208' else '3Q' if x == '202207' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '4Q' if x == '202212' else '4Q' if x == '202211' else '4Q' if x == '202210' else x)

df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '1Q' if x == '202303' else '1Q' if x == '202302' else '1Q' if x == '202301' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '2Q' if x == '202306' else '2Q' if x == '202305' else '2Q' if x == '202304' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '3Q' if x == '202309' else '3Q' if x == '202308' else '3Q' if x == '202307' else x)
df4['QUARTER'] = df4['QUARTER'].apply(lambda x: '4Q' if x == '202312' else '4Q' if x == '202311' else '4Q' if x == '202310' else x)

#df5 = df4.loc[df4['QUARTER']=='1Q22',]
df4 = df4.loc[df4['STATUS']!='Discarded',]
df4 = df4.loc[df4['STATUS']!='Development',]
df4 = df4.loc[df4['STATUS']!='Ready for development',]
df4 = df4.loc[df4['STATUS']!='Specification',]
df4 = df4.loc[df4['STATUS']!='Validation',]
df4 = df4.loc[df4['STATUS']!='User acceptance testing (UAT)',]
df4 = df4.loc[df4['STATUS']!='Technical testing',]
df4 = df4.loc[df4['STATUS']!='Ready for testing',]
df4 = df4.loc[df4['YEAR']!='2019',]
df4 = df4.loc[df4['YEAR']!='2018',]
df4 = df4.loc[df4['YEAR']!='2017',]
df4 = df4.loc[df4['YEAR']!='2016',]
df5 = df4
df5.drop(columns=["ORIGIN RELEASE"],inplace=True)

download_master_box=r"C:\Users\016434613\Box\RPA003 - Progress Master Report Download\Master Report 2023 2Q"

all_files = glob.glob(download_master_box+"\\Master Progress*.xlsx")
all_files = sorted(all_files, reverse=True)

copyfile(all_files[0],r'C:\Users\016434613\Downloads\progress_dt_tasks_master_report.xlsx')

filepath_ = r'C:\Users\016434613\Downloads\progress_dt_tasks_master_report.xlsx'

df_Development = pd.read_excel(filepath_,sheet_name="Development (Iterations)")

df_Development = df_Development.loc[:,['VERSION ID','DEVELOPERS']]
df_Development.drop_duplicates('VERSION ID',inplace=True)

df_Development.reset_index(inplace=True, drop=True)

df5 = df5.merge(df_Development, on="VERSION ID", how="left")


df5.loc[df5['ROBOT_NUMBER']=='ATA739','DEVELOPERS']='Barbora Depešová'
df5.loc[df5['ROBOT_NUMBER']=='ATA297','DEVELOPERS']='Barbora Depešová'
df5.loc[df5['ROBOT_NUMBER']=='ODA077','DEVELOPERS']='Milan Babčanec'
df5.loc[df5['TITLE']=='SAP/GLSU iERP processes & objects','DEVELOPERS']='Soňa Olšová'
df5.loc[df5['ROBOT_NUMBER']=="ATA728",'DEVELOPERS']="Marián Chrást"
df5.loc[df5['ROBOT_NUMBER']=="ATA794",'DEVELOPERS']="Marián Chrást"
df5.loc[df5['ROBOT_NUMBER']=="ATA812",'DEVELOPERS']="Branislav Podoba"



df5['DEVELOPERS'] = df5['DEVELOPERS'].fillna(value='x')

df10 = fr.mgr_report()

pos = []
valor = []
cont=0

for i in range(df5['DEVELOPERS'].size):
    x=re.search(",",df5['DEVELOPERS'][i])
    if x is not None:
        valor.append(df5['DEVELOPERS'][i])
        Devel = valor[cont].split(",")
        df5['DEVELOPERS'][i]=Devel[0]
        pos.append(i)
        cont+=1

df5 = df5.merge(df10, on="DEVELOPERS", how="left")

df5.loc[df5['DEVELOPERS']=="Andre Daniel Rodrigues",'Manager']="Andrej Csiaki"
df5.loc[df5['DEVELOPERS']=="Martin Nicolas Benitez Alegre",'Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=="Tomas Funes",'Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=="Ezequiel Ricardo Ferlauto",'Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=="Davide Lonigro",'Manager']="Andrej Csiaki"
df5.loc[df5['DEVELOPERS']=="Štefan Hocko",'Manager']="Andrej Csiaki"
df5.loc[df5['DEVELOPERS']=="Lukáš Jindra",'Manager']="Andrej Csiaki"
df5.loc[(df5['QUARTER']!="4Q22")&(df5['DEVELOPERS']=='Julián Prestia'),'Manager']="Andrej Csiaki"


# Falta reemplazar los ODAs del cheto y de Bruno y asignarselos a ellos

list_=['ODA041','ODA045','ODA032','ODA046','ODA136','ODA139',
'ODA028','ODA091','ODA141','ODA078','ODA138','ODA133','ODA149',
'ODA036','ODA121','ODA102','ODA132','ODA025','ODA033',
'ODA022','ODA021','ODA122','ODA055','ODA131','ODA047','ODA146',
'ODA147','ODA144','ODA128','ODA190','ODA140', 'ODA197'
]

for item_ in list_:
    df5.loc[df5['ROBOT_NUMBER']==item_,'DEVELOPERS']="Ezequiel Ricardo Ferlauto"

list_2=['ODA112','ODA127','ODA143','ODA181','ODA178','ODA114','ODA169','ODA186','ODA182'
]
 
for item_2 in list_2:
    df5.loc[df5['ROBOT_NUMBER']==item_2,'DEVELOPERS']="Bruno Secchiari"

df5.loc[df5['DEVELOPERS']=='Bruno Secchiari','Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=='Santiago Kitashima','Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=='Ezequiel Ricardo Ferlauto','Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=='Maria Laura Bisaccia','Manager']="Martin Campos"
df5.loc[df5['DEVELOPERS']=='Michele Lobina','Manager']="Andrej Csiaki"
df5.loc[df5['DEVELOPERS']=='Nikolaj Kniha','Manager']="Andrej Csiaki"
df5.loc[df5['DEVELOPERS']=='Terézia Straková','Manager']="Andrej Csiaki"
df5.loc[df5['DEVELOPERS']=='Michal Bezák','Manager']="Andrej Csiaki"
df5.loc[df5['ROBOT_NUMBER']=="ODA175",'DEVELOPERS']="Peter Blahut"
df5.loc[df5['ROBOT_NUMBER']=="ODA184",'DEVELOPERS']="Peter Blahut"
df5.loc[df5['ROBOT_NUMBER']=="ODA185",'DEVELOPERS']="Peter Blahut"
df5.loc[df5['ROBOT_NUMBER']=="ODA193",'DEVELOPERS']="Peter Blahut"
df5.loc[df5['ROBOT_NUMBER']=="ODA194",'DEVELOPERS']="Peter Blahut"
df5.loc[df5['DEVELOPERS']=='Peter Blahut','Manager']="Marek Tarkos"



df5['Count']=1
        
df5 = df5.loc[:,['Manager','DEVELOPERS','Count','SAVING HS','QUARTER','YEAR','ROBOT_NUMBER','TITLE','STATUS','UPLOAD DATA SYSTEMS','LOCATIONS','DSL','PROCESSES']]
df5 = df5.rename(columns={'DEVELOPERS':'Developer'})
df5.to_excel(r"C:\Users\016434613\Desktop\Delivery Report Yearly.xlsx",sheet_name="Details", index=False)

end = time.time()
mins = (end-start)/60.00
if mins < 1:
    mins = end-start
    print("Report created in: {:.2f} seconds".format(mins) )
else:
    print("Report created in: {:.2f} minutes".format(mins))

Report created in: 8.35 seconds

In [3]:
import os
import subprocess
import glob
from shutil import copyfile
checkfilepath = r"C:\Users\016434613\Downloads\progress_dt_tasks_master_report.xlsx"
download_master_box = r'C:\Users\016434613\Box\MASTER REPORT\Master Report 2022 4Q'


# This sentence takes care of deleting old mater report on downloads folder
if os.path.exists(checkfilepath):
    subprocess.run("del /f C:\\Users\\016434613\\Downloads\\progress_dt_tasks_master_report.xlsx", shell=True, capture_output=True)

all_files = glob.glob(download_master_box+"\\Master Progress*.xlsx")
all_files = sorted(all_files, reverse=True)
#all_files[0]
copyfile(all_files[0],r'C:\Users\016434613\Downloads\progress_dt_tasks_master_report.xlsx')

'C:\\Users\\016434613\\Downloads\\progress_dt_tasks_master_report.xlsx'

### Create a Pivot table by Mgr/Dev - Count of Delivery per year

In [21]:
from openpyxl import load_workbook

path = r"C:\Users\016434613\Desktop\Delivery Report Yearly.xlsx"
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

table = pd.pivot_table(df5, values=['Count'], index=['Manager','Developer'], columns=['YEAR'],
                       aggfunc=np.sum, fill_value=0)
table.to_excel(writer, sheet_name='Pivot')

writer.save()
book.close()
print("Report successfully updated!")

Report successfully updated!

In [47]:
table_ = pd.pivot_table(df5, values=['Count'], index=['Manager'], columns=['YEAR'],
                       aggfunc=np.sum, fill_value=0)
table_.sort_values(by=("Count","2021"),ascending=False)

                Count
YEAR             2018 2019 2020 2021 2022
Manager
Marek Tarkos       94  204   91  105   21
Martin Campos       0   13   61   87   17
Andrej Csiaki       1   48   58   81   22
Melissa Bledsoe     0    1    8   17    5

In [49]:
table_2 = pd.pivot_table(df5, values=['Count'], index=['Developer'], columns=['YEAR'],
                       aggfunc=np.sum, fill_value=0, margins=True, margins_name="Total")
table_2.sort_values(by=("Count","Total"),ascending=False)

                              Count
YEAR                           2018 2019 2020 2021 2022 Total
Developer
Total                            95  266  218  290   65   934
Milan Babčanec                   36   52   17   20    9   134
Ivan Trubač                      46   29   15   14    1   105
Katarina Kadlecova                0   17   20   22    2    61
Soňa Olšová                       3   18   15   18    4    58
Kristína Vojtová                  6   36    7    4    2    55
Marián Chrást                     0   15   15   16    3    49
Barbora Depešová                  0   14   12   14    3    43
Andrea Hrčková                    3   17    7   11    1    39
Martin Spadoni                    0    0   14   19    4    37
Branislav Podoba                  0    2   13   12    8    35
Lubo Čmiko                        0   17    7    6    0    30
Miroslav Kocian                   0    7   10   11    1    29
Ezequiel Ricardo Ferlauto         0    8    7   11    2    28
Maria Laura Bisaccia              0    0    8   14    3    25
Michele Lobina                    1    9    4    9    1    24
Pablo Ariel Iacovone              0    2   10    8    3    23
Dario Cesar Atach                 0    0    6   12    3    21
Andrés Lopez Grosman              0    0   13    7    0    20
Richard Hantke                    0   14    1    4    0    19
Colleen Bradshaw                  0    1    4   10    2    17
Nikolaj Kniha                     0    1    6    8    1    16
Santiago Kitashima                0    0    1   12    2    15
Andre Daniel Rodrigues            0    0    0    6    1     7
Terézia Straková                  0    0    0    3    4     7
Martin Nicolas Benitez Alegre     0    3    1    2    0     6
Gabe Hutson                       0    0    3    3    0     6
Nuno Filipe Macedo Gomes          0    0    1    4    0     5
Adam Balák                        0    0    0    3    0     3
Micheál O'Reilly                  0    0    0    2    1     3
Julia Conti Mestre                0    0    0    0    3     3
Bruno Secchiari                   0    0    0    2    0     2
Davide Lonigro                    0    2    0    0    0     2
Štefan Hocko                      0    2    0    0    0     2
Massimo Cireddu                   0    0    0    1    1     2
Lukáš Jindra                      0    0    0    1    0     1
Richard Nerodolík                 0    0    0    1    0     1
Tomas Funes                       0    0    1    0    0     1