In [1]:
from py3270 import Emulator
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')



na_list = ['649','897','650','625']

cty_list = [
'659']

df = pd.read_excel(r"C:\Users\016434613\Downloads\COSTA RICA (1).xlsx",sheet_name='Sheet1',converters={'LC':str,'CTY':str,'MAJ':str,'MINOR':str,'SMIN':str})
df.sort_values(by='CTY',axis=0, ascending=True,inplace=True)

counter = 0


# Connection to mainframe
em = Emulator(visible=True,args=['-model', '3279-2'])
em.connect(f'Y:STFMVS1.POK.IBM.COM:992') #server:PORT
em.wait_for_field()
em.fill_field(9, 18, 'IMSP2', len('IMSP2')) #CLIENT
em.send_enter()
em.wait_for_field()

#credentials
usr='ledgrc3'
psw='juanmanueldel02'

em.fill_field(7, 10, usr, len(usr)) #USR
em.fill_field(9, 12, psw, len(psw)) #PSW
em.send_enter()
em.send_pf8()


for cty in cty_list:
    df_cty = df.loc[df['CTY']==cty]
    df_cty.reset_index(inplace=True)
    df_cty.drop(columns='index', inplace=True)
    
    if cty not in na_list:
        opt = '51.15'
    else:
        opt = '50.15'
    
    em.wait_for_field()
    em.fill_field(19, 31, opt, len(opt))
    em.send_enter()
    time.sleep(0.5)
    ctry = cty
    em.fill_field(22, 16, 'country;'+ctry, 11)
    em.send_enter()
    time.sleep(0.5)
    opc='80'
    em.fill_field(20, 33, opc, len(opc))
    em.send_enter()
    time.sleep(0.5)
    opc='15'
    em.fill_field(20, 33, opc, len(opc))
    em.send_enter()
    time.sleep(0.5)
    opc='30'
    em.fill_field(20, 33, opc, len(opc))
    em.send_enter()
    for i in range(len(df_cty['CTY'])):
        lc = df_cty['LC'][i]
        toli = df_cty['TOLI'][i]
        div = df_cty['DIV'][i]
        maj = df_cty['MAJ'][i]
        minor = df_cty['MINOR'][i]
        em.fill_field(6, 5, lc, 2)
        em.fill_field(6, 8, toli, 1)
        em.fill_field(6, 10, div, 2)
        em.fill_field(6, 13, maj, 3)
        em.fill_field(6, 17, minor, 4)
        em.send_enter()
        time.sleep(0.5)
        em.fill_field(7, 2, 'S', 1)
        em.send_enter()
        time.sleep(0.5)
        smin = df_cty['SMIN'][i]
        smin = smin[1:4]
        em.fill_field(12, 5, smin, 3)
        em.send_enter()
        time.sleep(0.5)
        em.send_pf(2)
        time.sleep(0.5)
        em.send_pf(2)
        em.fill_field(13, 10, 'C', 1)
        time.sleep(0.5)
        em.send_pf3()
        time.sleep(0.5)
        msg = em.string_get(21,2,3)
        if msg == 'CFL':
            em.send_pf(24)
            with open(r'C:\Users\016434613\Desktop\Control.txt','a') as file:
                file.write(df_cty['ACCOUNT'][i]+' - '+'Error'+'\n')
            time.sleep(0.5)
        else:
            with open(r'C:\Users\016434613\Desktop\Control.txt','a') as file:
                file.write(df_cty['ACCOUNT'][i]+' - '+'C'+'\n')
            time.sleep(0.5)
        counter += 1
    em.send_pf3()
    time.sleep(0.5)
    em.send_pf3()
    time.sleep(0.5)
    em.send_pf3()
    time.sleep(0.5)
    em.send_pf3()
    time.sleep(0.5)
    em.send_pf6()
    time.sleep(0.5)
    with open(r'C:\Users\016434613\Desktop\Control.txt','a') as file:
        file.write(counter+' accounts for cty: '+cty+'\n')

KeyboardInterrupt:

In [15]:
from py3270 import Emulator
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')



na_list = ['649','897','650','625']

cty_list = ['613',
'625',
'631',
'649',
'650',
'655',
'659',
'661']

df = pd.read_excel(r"C:\Users\016434613\Desktop\Todo\LCA.xls",sheet_name='Data',converters={'LC':str,'CTY':str,'MAJ':str,'MINOR':str,'SMIN':str})
df.sort_values(by='CTY',axis=0, ascending=True,inplace=True)

df_cty = df.loc[df['CTY']=='631']
df_cty.reset_index(inplace=True)
df_cty.drop(columns='index', inplace=True)
df_cty

,ACCOUNT,INS_TIME_STAMP,YEAR,CTY,LC,DIV,MAJ,MINOR,SMIN,TOLI
0,631010201277070000F,2018-08-27-10.06.24.944144,2018,631,01,02,012,7707,0000,F
1,631010201277300000F,2018-08-27-10.06.24.946649,2018,631,01,02,012,7730,0000,F
2,631010201277290000F,2018-08-27-10.06.24.946452,2018,631,01,02,012,7729,0000,F
3,631010201277270000F,2018-08-27-10.06.24.946187,2018,631,01,02,012,7727,0000,F
4,631010201277250000F,2018-08-27-10.06.24.945546,2018,631,01,02,012,7725,0000,F
...,...,...,...,...,...,...,...,...,...,...
6569,631ST4412011000000F,2018-01-07-23.46.07.523248,2018,631,ST,44,120,1100,0000,F
6570,631ST4812802900001F,2018-01-07-23.46.07.523248,2018,631,ST,48,128,0290,0001,F
6571,631ST7F17011100000F,2018-01-07-23.46.07.523248,2018,631,ST,7F,170,1110,0000,F
6572,631ST4412011000010F,2018-01-07-23.46.07.523248,2018,631,ST,44,120,1100,0010,F
6573,631ST7F20804000005F,2018-01-07-23.46.07.523248,2018,631,ST,7F,208,0400,0005,F

In [5]:
%pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ------------------------------------ 100.0/100.0 kB 359.0 kB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

[notice] A new release of pip available: 22.1.2 -> 23.0.1
[notice] To update, run: C:\Users\016434613\Python39\python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.